.data-view {
  padding-bottom: 1rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0.5rem 0.5rem;
}

.filters {
  margin-left: 25%;
}

.indicator {
  margin-bottom: 0.25rem;
  margin-right: 33.33%;
}
 