.main { 
  padding: 1.5rem 0;
  min-height: calc(100vh - 100px); 
}

.player {
  margin: auto;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .main {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  
  .player {
    margin: 0 5%;
  }
}