.App-header {
  background-color: #1D428A;
  height: 50px;
  width: 100vw;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: -1px 0 5px 0 #1D428A;
  z-index: 2;
}

.App-header div {
  width: 800px;
  margin: auto;
}

.App-logo {
  height: 35px;
  float: left;
}

@media screen and (max-width: 800px) {
  .App-logo {
    height: 25px;
    padding-left: 0.75rem;
  }
}